In [1]:
# https://paullab.co.kr/stock.html
# 이런 테이블 형테의 데이터를 크롤링 할 때

# pandas, numpy
# 여러분들이 구현하려고 할 때
# 구현되어 있는 라이브러리가 있는가?

In [ ]:
# numpy는 선형대수를 하기 위한 라이브러리(기본 파이썬보다 빠릅니다.)
# pandas는 행과 열로된 데이터 분석을 하기 위한 라이브러리(기본 파이썬보다 빠릅니다.)

In [2]:
import numpy as np
import pandas as pd

# numpy

In [6]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

[1, 2, 3] + [4, 5, 6]
[1, 2, 3] * 3

a + b # 이런 행렬의 연산과 같은 선형대수를 하기위한 라이브러리입니다.

array([5, 7, 9])

In [ ]:
1 # 스칼라
[1, 2] # 벡터
[[1, 2, 3], [4, 5, 6]] # 매트릭스
[[[1, 2, 3], [1, 2, 3]], [[1, 2, 3], [1, 2, 3]]] # 텐서

# pandas

In [7]:
import pandas as pd

data = {
    'name': ['A', 'B', 'C', 'D', 'E'],
    'score': [100, 90, 80, 70, 60],
    'grade': ['A', 'B', 'C', 'D', 'F']
}

# 행과 열을 Dataframe
# 열을 Series라고 합니다.

df = pd.DataFrame(data)
df

  name  score grade
0    A    100     A
1    B     90     B
2    C     80     C
3    D     70     D
4    E     60     F

In [8]:
df['name']

0    A
1    B
2    C
3    D
4    E
Name: name, dtype: object

# 데이터 크롤링

In [9]:
df = pd.read_html('https://paullab.co.kr/stock.html')

df

[        0             1
 0    시가총액  349조 2,323억원
 1  시가총액순위      위니브월드 1위
 2   상장주식수    5969782550,
                     0                  1
 0                 현재가       349조 2,323억원
 1         52주 최고 l 최저  62,800  l  42,300
 2  배당수익률 l 2040.12  ?              2.42%,
     0                    1
 0  매출  22,125,034,978,750원
 1  비용  19,223,803,154,781원
 2  순익   2,901,231,823,969원,
             날짜    종가  전일비    시가    고가    저가      거래량
 0   2040.10.23  6650   20  6590  6830  6580   398421
 1   2040.10.22  6630  190  6830  6930  6530   919571
 2   2040.10.21  6820  390  6440  6890  6360  1678055
 3   2040.10.18  6430  480  6020  6620  5970  2168857
 4   2040.10.17  5950   20  6100  6180  5840  1982922
 5   2040.10.16  5930  290  5620  5930  5350   839434
 6   2040.10.15  5640  260  5370  5660  5300   702104
 7   2040.10.14  5380  340  5060  5420  5060   764800
 8   2040.10.11  5040   60  5100  5170  5020   134558
 9   2040.10.10  5100   50  5000  5120  4970   288563
 10  2040.10.08  5050  110  4985  5050  4910   223839
 11  2040.10.07  4940   70  4990  5110  4905   199580
 12  2040.10.04  5010   90  4900  5050  4900   188467
 13  2040.10.02  4920   90  4930  5000  4900   160510
 14  2040.10.01  5010   10  4950  5050  4950   246145
 15  2040.09.30  5000   10  5180  5300  4990   705046
 16  2040.09.27  5010   50  5020  5080  4865   408859
 17  2040.09.26  5060    0  5130  5200  4965   404633
 18  2040.09.25  5060  270  5280  5320  5040   441923
 19  2040.09.24  5330   10  5300  5370  5280   211019,
             날짜     종가   전일비     시가     고가     저가      거래량
 0   2040.10.23  31300   100  31150  31850  30450   513365
 1   2040.10.22  31200   100  31450  31750  30100   938845
 2   2040.10.21  31300   500  31250  32800  30500  1774049
 3   2040.10.18  30800  2400  28700  31100  28400  1731279
 4   2040.10.17  28400   700  28050  29200  27950   983611
 5   2040.10.16  27700   900  27900  28200  27300  1003434
 6   2040.10.15  26800   700  26250  27000  25850   589982
 7   2040.10.14  26100   100  26500  26550  25750   335940
 8   2040.10.11  26200     0  26650  26700  25700   531894
 9   2040.10.10  26200  1700  24750  26300  24700  1060562
 10  2040.10.08  24500   850  23600  24600  23150   336803
 11  2040.10.07  23650   450  24200  24400  23550   285608
 12  2040.10.04  24100   400  24300  24700  23900   236640
 13  2040.10.02  24500     0  24100  24900  24000   258642
 14  2040.10.01  24500   400  24700  25200  24350   368213
 15  2040.09.30  24100   300  23300  24150  22950   369465
 16  2040.09.27  23800   300  24050  24600  23400   300900
 17  2040.09.26  24100   200  24650  24800  23850   227601
 18  2040.09.25  24300  1200  25200  25450  24200   367106
 19  2040.09.24  25500   150  25650  25800  25150   248811,
             날짜     종가  전일비     시가     고가     저가     거래량
 0   2040.10.23  13250  100  13400  13450  13150   83405
 1   2040.10.22  13350  150  13500  13600  13250  160439
 2   2040.10.21  13500  450  13150  13550  13000  237001
 3   2040.10.18  13050  350  12850  13450  12850  278034
 4   2040.10.17  12700  450  13100  13150  12650  179950
 5   2040.10.16  13150  600  12650  13800  12650  615073
 6   2040.10.15  12550  150  12800  12800  12550  128599
 7   2040.10.14  12700    0  12850  12850  12600   47049
 8   2040.10.11  12700  150  12550  12700  12450   60017
 9   2040.10.10  12550    0  12400  12750  12350   82049
 10  2040.10.08  12550  150  12700  12750  12500   75452
 11  2040.10.07  12700   50  12700  12800  12550   98403
 12  2040.10.04  12750  150  12900  12950  12700   89815
 13  2040.10.02  12900  450  13250  13300  12900  157254
 14  2040.10.01  13350   50  13250  13400  13050  125442
 15  2040.09.30  13300  150  13150  13500  13100  131064
 16  2040.09.27  13150  100  12950  13150  12900   52919
 17  2040.09.26  13050    0  13200  13200  12950  153270
 18  2040.09.25  13050  300  13300  13600  13050  227991
 19  2040.09.24  13350   50  13250  13750  13250  204286,
             날짜    종가  전일비    시가    고가    저가      거래량
 0   2040.10.23  2600  600  2055  2600  2020  2203110
 1   2040.10.22  2000    5  1985  2005  1980    32212
 2   2040.10.21  1995   30  2025  2035  1975    35186
 3   2040.10.18  2025   40  1985  2050  1980   108481
 4   2040.10.17  1985   10  1980  1990  1955    20766
 5   2040.10.16  1975    5  1985  1995  1970    19243
 6   2040.10.15  1980   20  1970  1980  1960    35658
 7   2040.10.14  1960    0  1955  1970  1935    26698
 8   2040.10.11  1960   45  1925  1965  1910    45469
 9   2040.10.10  1915   15  1885  1915  1885    32773
 10  2040.10.08  1900   20  1915  1935  1885    62433
 11  2040.10.07  1920   50  1970  1980  1895    89504
 12  2040.10.04  1970   20  1980  2005  1970    47894
 13  2040.10.02  1990    0  1975  2030  1965    74176
 14  2040.10.01  1990   20  1975  2005  1965    44690
 15  2040.09.30  1970    5  1980  2000  1970    34087
 16  2040.09.27  1975    5  1975  2060  1965   109372
 17  2040.09.26  1970   30  2000  2035  1950    83120
 18  2040.09.25  2000   65  2065  2065  1985    78144
 19  2040.09.24  2065   30  2020  2090  2020   139085]

In [13]:
df[3]

            날짜    종가  전일비    시가    고가    저가      거래량
0   2040.10.23  6650   20  6590  6830  6580   398421
1   2040.10.22  6630  190  6830  6930  6530   919571
2   2040.10.21  6820  390  6440  6890  6360  1678055
3   2040.10.18  6430  480  6020  6620  5970  2168857
4   2040.10.17  5950   20  6100  6180  5840  1982922
5   2040.10.16  5930  290  5620  5930  5350   839434
6   2040.10.15  5640  260  5370  5660  5300   702104
7   2040.10.14  5380  340  5060  5420  5060   764800
8   2040.10.11  5040   60  5100  5170  5020   134558
9   2040.10.10  5100   50  5000  5120  4970   288563
10  2040.10.08  5050  110  4985  5050  4910   223839
11  2040.10.07  4940   70  4990  5110  4905   199580
12  2040.10.04  5010   90  4900  5050  4900   188467
13  2040.10.02  4920   90  4930  5000  4900   160510
14  2040.10.01  5010   10  4950  5050  4950   246145
15  2040.09.30  5000   10  5180  5300  4990   705046
16  2040.09.27  5010   50  5020  5080  4865   408859
17  2040.09.26  5060    0  5130  5200  4965   404633
18  2040.09.25  5060  270  5280  5320  5040   441923
19  2040.09.24  5330   10  5300  5370  5280   211019

In [14]:
df[3]['종가']

0     6650
1     6630
2     6820
3     6430
4     5950
5     5930
6     5640
7     5380
8     5040
9     5100
10    5050
11    4940
12    5010
13    4920
14    5010
15    5000
16    5010
17    5060
18    5060
19    5330
Name: 종가, dtype: int64

In [15]:
for i in df[3]['종가']:
    print(i)

6650
6630
6820
6430
5950
5930
5640
5380
5040
5100
5050
4940
5010
4920
5010
5000
5010
5060
5060
5330

In [19]:
result = 0

for i in df[3]['종가']:
    result += i

result / len(df[3]['종가'])

5498.0

In [20]:
# 너무 간단하네? => numpy와 pandas는 순회를 돌면 안됩니다.
# 내부 로직이 C기반으로 되어 있어서 매우 빠른데
# 순회를 도는 순간 속도가 저하

df[3]['종가'].mean()

5498.0

# xlsxwriter

In [22]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.2.0-py3-none-any.whl.metadata (2.6 kB)
Downloading XlsxWriter-3.2.0-py3-none-any.whl (159 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 159.9/159.9 kB 2.5 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.2.0

In [23]:
# 엑셀로 만들기 튜토리얼

import xlsxwriter

# Create a workbook and add a worksheet.
workbook = xlsxwriter.Workbook('Expenses01.xlsx')
worksheet = workbook.add_worksheet()

# Some data we want to write to the worksheet.
expenses = (
    ['Rent', 1000],
    ['Gas',   100],
    ['Food',  300],
    ['Gym',    50],
)

# Start from the first cell. Rows and columns are zero indexed.
row = 0
col = 0

# Iterate over the data and write it out row by row.
for item, cost in (expenses):
    worksheet.write(row, col,     item)
    worksheet.write(row, col + 1, cost)
    row += 1

# Write a total using a formula.
worksheet.write(row, 0, 'Total')
worksheet.write(row, 1, '=SUM(B1:B4)')

workbook.close()